<main>
  <!-- =================== Filtros e botão criar =================== -->
  <div class="filtros-container">
    <!--
    <p-button label="Em Andamento"[raised]="true"severity="secondary" class="filtro"
    (click)="listarEmAndamentoPorData()"
    ></p-button>

    <p-button label="Concluidos"[raised]="true"severity="secondary" class="filtro"
    (click)="listarConcluidosPorData()"
    ></p-button>

    <p-button label="Todas as Tarefas"[raised]="true"severity="secondary" class="filtro"
    (click)="listarTodosPorData()"
    ></p-button>
    <button (click)="visible = true" class="btn-criar">+</button>
    -->
    <p-buttongroup>
      <p-button
        label="Em Andamento"
        icon="pi pi-search"
        (click)="listarEmAndamentoPorData()"
      />
      <p-button
        label="Concluidos"
        icon="pi pi-check"
        (click)="listarConcluidosPorData()"
      />
      <p-button
        label="Todas as Tarefas"
        icon="pi pi-bars"
        (click)="listarTodosPorData()"
      />
    </p-buttongroup>

    <p-button (click)="visible = true" class="btn-criar" icon="pi pi-pencil" label="Criar"/>

    <p-datepicker
      [(ngModel)]="dataFiltro"
      [showIcon]="true"
      inputId="buttondisplay"
      [showOnFocus]="false"
      name="dataFiltro"
      required
      dateFormat="dd/mm/yy"
    />
  </div>

  <!-- =================== Cards centralizados =================== -->
  <div class="cards-container">
    <ng-container *ngFor="let t of todos">
      <p-card *ngIf="t" class="todo-card">
        <ng-template #title>
          {{ t.descricao }}
        </ng-template>

        <ng-template #subtitle>
          Status: {{ t.concluido ? "Concluído" : "Em andamento" }}
        </ng-template>

        <p>
          Data Criação: {{ t.dataCriacao | date : "dd/MM/yyyy" }}<br />
          <span *ngIf="t.dataConclusao">
            Data Conclusão: {{ t.dataConclusao | date : "dd/MM/yyyy" }}
          </span>
        </p>

        <ng-template #footer>
          <div class="footer-buttons">
            <p-button
              label="Excluir"
              icon="pi pi-trash"
              severity="danger"
              (click)="excluirToDo(t.id)"
            ></p-button>

            <p-button
              label="Concluir"
              icon="pi pi-check"
              severity="success"
              (click)="marcarConcluido(t)"
              *ngIf="!t.concluido"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>
  </div>

  <!-- =================== Modal cadastrar todo =================== -->
  <p-dialog
    header="Cadastrar Novo Todo"
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '25rem', borderRadius: '12px', padding: '1rem' }"
  >
    <form (ngSubmit)="salvarTodo()" #todoForm="ngForm">
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input
          pInputText
          id="descricao"
          [(ngModel)]="novoToDo.descricao"
          name="descricao"
          placeholder="Digite a tarefa"
          required
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="novoToDo.concluido" name="concluido">
          <option [ngValue]="false">Em andamento</option>
          <option [ngValue]="true">Concluído</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dataCriacao">Data</label>
        <p-datepicker
          [(ngModel)]="dataFiltro"
          [showIcon]="true"
          inputId="buttondisplay"
          [showOnFocus]="false"
          name="dataFiltro"
          required
          dateFormat="dd/mm/yy"
        />
      </div>

      <div *ngIf="popupMensagem" class="popup">
        {{ popupMensagem }}
        <button type="button" class="fechar" (click)="fecharPopup()">x</button>
      </div>

      <div class="modal-actions">
        <p-button
          label="Cancelar"
          severity="secondary"
          (click)="visible = false"
        ></p-button>
        <p-button
          label="Salvar"
          type="submit"
          [disabled]="!todoForm.form.valid"
        ></p-button>
      </div>
    </form>
  </p-dialog>
</main>
