<main>
  <div>
    <button (click)="listarEmAndamentoPorData()">Em Andamento</button>
    <button (click)="listarConcluidosPorData()">Concluidos</button>
    <button (click)="listarTodosPorData()">Todas As Tarefas</button>
    <button (click)="abrirModal()" class="btn-criar">Criar Nova Tarefa</button>
    <input type="date" [(ngModel)]="dataFiltro" name="dataFiltro" required>
  </div>
  <div>
    <h2>Lista de Tarefas</h2>
    <ul *ngFor="let t of todos">
      <li hidden>{{ t.id }}</li>
      <li>{{ t.descricao }}</li>
      <li>{{ t.concluido ? 'Concluido' : 'Em andamento' }}</li>
      <li>{{ t.dataCriacao }}</li>
      <li><button (click)="excluirToDo(t.id)">Excluir</button></li>
      <li><button>Concluir</button></li>
    </ul>
  </div>

  <!-- Modal -->
<div class="modal" [class.show]="mostrarModal">
  <div class="modal-content">
    <span class="close" (click)="fecharModal()">&times;</span>
    <h2>Cadastrar Novo Todo</h2>

    <form (ngSubmit)="salvarTodo()" #todoForm="ngForm">
      
      <!-- Descrição -->
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input 
          type="text" 
          id="descricao" 
          [(ngModel)]="novoTodo.descricao" 
          name="descricao" 
          required 
          placeholder="Digite a tarefa"
        />
      </div>

      <!-- Status -->
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="novoTodo.concluido" name="concluido">
          <option [ngValue]="false">Em andamento</option>
          <option [ngValue]="true">Concluído</option>
        </select>
      </div>

      <!-- Botões -->
      <div class="modal-actions">
        <button type="submit" [disabled]="!todoForm.form.valid" class="btn-salvar">Salvar</button>
        <button type="button" class="btn-cancelar" (click)="fecharModal()">Cancelar</button>
      </div>

    </form>
  </div>
</div>
  
</main>